In [1]:
import pandas as pd 
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [7]:
import pandas as pd
emp=pd.Series(['dharshan','siva','sudeep','yash','keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'Emp':emp,'Id':id}
result=pd.DataFrame(frame)
print("\n series in data frames \n")
print(result)

 series in data frames

         Emp  Id
0   dharshan  80
1       siva  90
2     sudeep  28
3       yash  57
4  keerthana  49

In [8]:
print("\nExtracting one column\n")
print(result['Emp'])

Extracting one column

0     dharshan
1         siva
2       sudeep
3         yash
4    keerthana
Name: Emp, dtype: object

In [9]:
print("/n adding new column:\n")
result['ID']=pd.Series([80,90,28,56,89])
result['Age']=pd.Series([19,90,34,67,20])
print(result)

/n adding new column:

         Emp  Id  ID  Age
0   dharshan  80  80   19
1       siva  90  90   90
2     sudeep  28  28   34
3       yash  57  56   67
4  keerthana  49  89   20

In [11]:
print("\n Deleting new column:\n")
del result['Age']
print(result)

 Deleting new column:

         Emp  Id  ID
0   dharshan  80  80
1       siva  90  90
2     sudeep  28  28
3       yash  57  56
4  keerthana  49  89

In [12]:
print("\n extracting the second row:\n")
print(result.loc[1])

 extracting the second row:

Emp    siva
Id       90
ID       90
Name: 1, dtype: object

In [13]:
print("slice rows:\n",result[1:4])

slice rows:
       Emp  Id  ID
1    siva  90  90
2  sudeep  28  28
3    yash  57  56

In [14]:
d2=pd.DataFrame([['vicky',100],['rashid',111]],columns=['Emps','ID'])
print("\n Adding new row values\n",pd.concat([result,d2]))

 Adding new row values
          Emp    Id   ID    Emps
0   dharshan  80.0   80     NaN
1       siva  90.0   90     NaN
2     sudeep  28.0   28     NaN
3       yash  57.0   56     NaN
4  keerthana  49.0   89     NaN
0        NaN   NaN  100   vicky
1        NaN   NaN  111  rashid

In [15]:
print("\ndeleting particular row:\n",result.drop(2))

deleting particular row:
          Emp  Id  ID
0   dharshan  80  80
1       siva  90  90
3       yash  57  56
4  keerthana  49  89

In [16]:
import pandas as pd 
import numpy as np
print("DataFrame.apply function:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n original DataFrame:\n",info)
print("\n squareroot of DataFrame:\n",info.apply(np.sqrt))
print("\n sum of each column:\n",info.apply(np.sum,axis=0))
print("\n sum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.apply function:


 original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 squareroot of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each column:
 S    12
R    36
dtype: int64

 sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [19]:
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['x','y','z'])
print("\n original DataFrame:\n",info)
print("\n Minimum and maximum of each column:\n")
print(info.agg(['min','max']))

 original DataFrame:
    x  y  z
0  2  4  6
1  1  3  5
2  5  8  7

 Minimum and maximum of each column:

     x  y  z
min  1  3  5
max  5  8  7